[submodule "submodules/modded_nanogpt"]
	path = submodules/modded_nanogpt
	url = https://github.com/KellerJordan/modded-nanogpt
[submodule "submodules/torchtitan"]
	path = submodules/torchtitan
	url = https://github.com/pytorch/torchtitan
[submodule "submodules/zoology"]
	path = submodules/zoology
	url = https://github.com/HazyResearch/zoology
[submodule "submodules/nanoGPT"]
	path = submodules/nanoGPT
	url = https://github.com/jtaylor-eng/nanoGPT.git
[submodule "submodules/asentmax"]
	path = submodules/asentmax
	url = https://github.com/deep-spin/asentmax
